@page "/"
@using Toolbelt.Blazor.Gamepad
@inject GamepadList GamePadList
@implements IDisposable

<p>@DateTime.Now | <NavLink href="about">About</NavLink></p>

<p>Game Pad List (@Gamepads.Count())</p>
<ul>
    @foreach (var gamePad in Gamepads)
    {
        <li>@gamePad.Index - [@gamePad.Id]</li>
    }
</ul>

@if (this.Gamepad != null)
{
    <p>Axes</p>
    <ul>
        @foreach (var ax in Gamepad.Axes)
        {
            <li>@ax.ToString("#,0.0")</li>
        }
    </ul>

    <p>Buttons</p>
    <ul>
        @foreach (var button in Gamepad.Buttons)
        {
            <li>@button.Pressed (@button.Value)</li>
        }
    </ul>
}

@functions
{
    IEnumerable<Gamepad> Gamepads = new Gamepad[0];

    Gamepad Gamepad;

    System.Timers.Timer Timer = new System.Timers.Timer(200) { Enabled = true };

    protected override void OnInit()
    {
        Timer.Elapsed += Timer_Elapsed;
    }

    private async void Timer_Elapsed(object sender, EventArgs args)
    {
        try
        {
            this.Gamepads = await GamePadList.GetGamepadsAsync();
            this.Gamepad = this.Gamepads.FirstOrDefault();
            this.StateHasChanged();
        }
        catch (Exception e)
        {
            System.Diagnostics.Debug.WriteLine(e.ToString());
            throw;
        }
    }

    public void Dispose()
    {
        Timer?.Dispose();
    }
}