@using System.Runtime.InteropServices

<header>
    <div>
        <h1>Blazor Gamepad</h1>
        <div class="site-description">This is the demonstration site of the class library that provides gamepad API access for your Blazor apps.</div>
    </div>
    <div>
        @this.Header
    </div>
</header>

<main>
    @this.Main
</main>

<footer>
    <div>
        <a href="https://www.nuget.org/packages/Toolbelt.Blazor.Gamepad/" target="_blank"><img src="https://img.shields.io/nuget/v/Toolbelt.Blazor.Gamepad.svg" alt="Blazor Gamepad - NuGet package" /></a>
    </div>
    <div>|</div>
    <div>@RuntimeInformation.FrameworkDescription / @RuntimeInformation.ProcessArchitecture</div>
    @this.Footer
</footer>

@code
{
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }

    [Parameter]
    public RenderFragment? Main { get; set; }
}